body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header-content {
  text-align: center;
  padding: 50px 0;
}

h1 {
  color: #333;
  font-size: 36px;
}

p {
  color: #666;
}

.tabs {
  overflow: hidden;
  background-color: #007bff; /* Bleu */
}

.tablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #007bff; /* Bleu */
  color: white;
}

.tablink:hover {
  background-color: #0056b3; /* Bleu foncé */
}

.submenu {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.subtablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  transition: 0.3s;
  background-color: #ddd; /* Gris clair */
  color: #333;
  margin: 0 5px 5px 0;
}

.subtablink:hover {
  background-color: #bbb; /* Gris plus foncé */
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: 2px solid #007bff; /* Bleu */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin
